.self-center {
  align-self: center;
}

mat-form-field {
  padding: 5px;
}

mat-card {
  padding-bottom: 30px !important;
}

table {
  width: 100%;
}

.manage-order {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.p-button {
  margin: 5px;
}
